<mat-label>Select Category: </mat-label>
<mat-select [(value)]="inCatName" (selectionChange)="catChanged()">
    <mat-option *ngFor="let cat of categoryList; index as i" [value]="cat">{{cat}}</mat-option>
</mat-select>


