<mat-form-field>
  <mat-label>{{mFeature.name}}</mat-label>
  <div *ngIf="isFeatureMultipleSelect(); then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <!-- MULTIPLE -->
    <mat-select [(value)]="mFeature.vals" name="mFeature.name" (selectionChange)="onFeatureChange()" multiple>
      <mat-option *ngFor="let tag of inOptions.vals" [value]="tag"> 
        {{tag}} </mat-option>
    </mat-select>
  </ng-template>

  <ng-template #elseBlock>
    <!-- SINGLE -->
    <mat-select 
      [(value)]="mFeature.vals[0]" 
      name="mFeature.name" 
      (selectionChange)="onFeatureChange()">
      <mat-option *ngFor="let tag of inOptions.vals" [value]="getValueForTag(tag, true)">
        {{getValueForTag(tag, false)}}
      </mat-option>
    </mat-select>
  </ng-template>
</mat-form-field>