<!-- <div class="button-row">
  <a mat-flat-button color="primary" [routerLink]="['/home-base']">
    <mat-icon>home</mat-icon>Home
  </a>
</div> -->

<div class="clothes-container mat-elevation-z8">
<app-retailer-select *ngIf="haveUser" class="retailer-select" 
  (update)="onRetailerChange($event)">
</app-retailer-select>

<table calss="options-select">
  <td width="250px">
    <app-category-select 
      [inCatName]="mSelectedCategory" 
      [options]="mCategoryList"
      [withAll]="true" 
      (update)="onSelectShowCategory($event)">
    </app-category-select>
  </td>
  <td>
    <input type="checkbox" (click)="onShowAll()"> Show un tagged only         
  </td>
</table>


  <h2>Items List: {{numItemsLeft}} </h2>

  <div *ngIf="isLoadingResults; else showItems">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <ng-template #showItems>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="title" matSortDisableClear
        matSortDirection="asc">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Item ID</th>
          <td mat-cell *matCellDef="let row">{{row.itemId}}</td>
        </ng-container>

        <ng-container matColumnDef="tagged">
          <th mat-header-cell *matHeaderCellDef>tagged</th>
          <td mat-cell *matCellDef="let row">{{row.tagged}}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>category</th>
          <td mat-cell *matCellDef="let row">{{row.category}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/item-view/', row.itemId]"></tr>
      </table>
    </div>

  </ng-template>
</div>
