<!-- <div class="button-row">
  <a mat-flat-button color="primary" [routerLink]="['/home-base']">
    <mat-icon>home</mat-icon>Home
  </a>
</div> -->


<div class="clothes-container mat-elevation-z8">

<app-retailer-select *ngIf="haveUser" class="retailer-select"
  (update)="onRetailerChange($event)">
</app-retailer-select>

<app-category-select *ngIf="haveList"
    [inCatName]="mSelectedCategory"
    [options]="mCategoryList"
    [withAll]="true" 
    (update)="onSelectShowCategory($event)">
</app-category-select>
    
<br>
<button class="deleteButton" (click)="onOutput()">Output collection</button>
