<div class="login-page">
  <div class="content mt-60">
    <form class="login-form" (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="text-center">
        <h2 class="app-name">Back Office - Log In</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <span class="mb-3"></span>
          <mat-form-field class="w-100">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">

        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" class="w-100"
            [disabled]="!loginForm.valid">Login</button>
          <!-- <a type="button" mat-button color="primary" class="w-100" (click)="showSignup()">Sign Up</a> -->
        </div>
        
      </div>

    </form>
  </div>
</div>


<!-- <ng-template #elseBlock>

  <div class="content mt-60">
    <form class="login-form" (ngSubmit)="signup()" [formGroup]="loginForm">
      <div class="text-center">
        <h2 class="app-name">Back Office - Sign Up</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <span class="mb-3"></span>
          <mat-form-field class="w-100">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">

        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" class="w-100" [disabled]="!loginForm.valid">Sign
            Up</button>
          <a type="button" mat-button color="primary" class="w-100" (click)="showLogin()">Login</a>
        </div>

      </div>

    </form>
  </div>


</ng-template> -->
