  <h1>Category: {{inCategory?.name}}</h1>
  <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
    <div fxFlex="48" *ngFor="let feature of inCategory?.vals;  index as j">
      <div>
        <app-tag-featue 
          [inFeature]="feature" 
          [inOptions]="inOptions?.vals[j]" 
          [belogsToItem]="inCategory?.isItem()"
          (update)="onUpdateFeature($event)">
        </app-tag-featue>
      </div>
    </div>
  </div>

  <div *ngIf="mShowOK">
    <button mat-raised-button (click)="onClickOK()">OK-SAVE {{inCategory?.name}}</button>
  </div>
