<div *ngIf="!isConfigReady">
    <mat-spinner *ngIf="!isConfigReady"></mat-spinner>
</div>
<div class="button-row">
    <a mat-flat-button  [routerLink]="['/askLily']"><mat-icon>edit</mat-icon>AskLily</a>
</div>

<div class="button-row">
    <a mat-flat-button  [routerLink]="['/item-table']"><mat-icon>edit</mat-icon>Tag Items</a>
</div>

<div class="button-row">
    <a mat-flat-button  [routerLink]="['/app-public-ask']"><mat-icon>edit</mat-icon>TESTING ASK API</a>
</div>

<div class="button-row">
    <a mat-flat-button  [routerLink]="['/image-processing']"><mat-icon>edit</mat-icon>Image Processing</a>
</div>