<table class="retailer-select">
    <td>
        <mat-label>Select Retailer: </mat-label>
        <mat-select [(ngModel)]="mCurRetailer" (selectionChange)="retailerChanged()">
            <mat-option *ngFor="let retailer of mOptions.retailers; index as i"
            [value]="retailer">{{retailer}}</mat-option>
        </mat-select>
    </td>
    
    <td>
        <mat-label>Select userType: </mat-label>
        <mat-select [(ngModel)]="mCurUserType" (selectionChange)="retailerChanged()">
            <mat-option *ngFor="let userType of mOptions.userTypes; index as i"
            [value]="userType">{{userType}}</mat-option>
        </mat-select>
    </td>
</table>

