<!-- <div class="button-row">
  <a mat-flat-button color="primary" [routerLink]="['/home-base']">
    <mat-icon>home</mat-icon>Home
  </a>
</div> -->

<app-retailer-select *ngIf="haveUser" class="retailer-select" (update)="onRetailerChange($event)">
</app-retailer-select>


<button (click)="GetLilyList(true)">send full</button>
<button (click)="loopTest()">Loop Test</button> Loop index: {{loopIndex}}

<input type="checkbox" id="showImage" name="showImage" (click)="toggleShowImage()">
<label for="showImage"> Show image in result</label>


<input type="checkbox" id="showDetails" name="showDetails" (click)="onToggleShowDetails()">
<label for="selRandCheckBox"> Show User</label>



<div *ngIf="showUserDetails">
  <div *ngFor="let v of mRandomUser.getUser().vals;  index as i">
    <div *ngIf="v.vals.length>0">
      {{v.name}} : <a *ngFor="let vv of v.vals"> {{vv}}, </a>
    </div>
  </div>
</div>

<div *ngIf="showList">
  Showing matches..{{numValid}}
  <table>
    <div *ngFor="let cat of matchResults.mList;  index as k">
      <tr *ngIf="matchResults.mList[k].matchList.length>0">
        <td>{{matchResults.mList[k].categoryName}}:{{matchResults.mList[k].matchList.length}}</td>
        <td *ngFor="let sel of matchResults.mList[k].matchList; index as i">
          <img *ngIf="bShowImages" src="{{sel.image}}" style="width:160px;height:auto;">
          <p><a href="{{sel.page}}">Visit site</a></p>
        </td>
      </tr>
      <tr *ngIf="matchResults.mList[k].matchList.length>0">
        <td>Details</td>
        <td *ngFor="let sel of matchResults.mList[k].matchList; index as i">
          {{sel.id}}
        </td>
      </tr>
    </div>
  </table>
</div>

<br>
<div *ngIf="showNewList">
  <table>
    <div *ngFor="let res of resultList; index as c">
      <td>
        {{res[0].category}}<br>
        <img src="{{res[0].image}}" style="width:80px;height:auto;">
      </td> 
      <td>
        {{res[1].category}}<br>
        <img src="{{res[1].image}}" style="width:80px;height:auto;">      </td>
    </div>
  </table>
</div>
