<button id="saveBitButton" (click)="saveBIT()">Save BIT</button> 

<input type="checkbox" id="showQ" (click)="onShowUser()">
<label for="showQ"> Show Questioneer</label>

<button class="deleteButton" (click)="onDeleteCookies()">Delete user cookies</button>

<div *ngIf="showUser">
  Editing user for: {{aUser.getTheFullName()}}
  <app-tag-user-category
    [inUser]="aUser"
   (update)="onUpdateCategory($event)">
  </app-tag-user-category> 
</div>
<br>

<app-retailer-select *ngIf="haveUser" class="retailer-select"
  (update)="onRetailerChange($event)">
</app-retailer-select>

<h4>Test</h4>
<button (click)="GetLilyList()">AskLily</button>

<div *ngIf="!showList; else showItems">
  <mat-spinner *ngIf="!showList"></mat-spinner>
</div>
<ng-template #showItems>
  Showing matches..{{matchResults.count(true)}} out of {{totalItems}}
  <table>
    <div *ngFor="let cat of matchResults.mList;  index as k">
      <tr *ngIf="matchResults.mList[k].matchList.length>0">
        <td>{{matchResults.mList[k].categoryName}}:{{matchResults.mList[k].matchList.length}}</td>
        <td *ngFor="let sel of matchResults.mList[k].matchList; index as i">
          <img src="{{sel.image}}" style="width:160px;height:auto;">
          <p><a href="{{sel.page}}" target="_blank">Visit site</a></p>
        </td>
      </tr>
      <tr *ngIf="matchResults.mList[k].matchList.length>0">
        <td>Details</td>
        <td *ngFor="let sel of matchResults.mList[k].matchList; index as i">
          {{sel.id}}
        </td>
      </tr>
      <tr *ngIf="matchResults.mList[k].matchList.length>0">
        <td>Why yes:</td>
        <td *ngFor="let sel of matchResults.mList[k].matchList">
          <p style="background-color:green;">{{sel.story}}</p>
        </td>
      </tr>

    </div>
  </table>

  showing rejects...{{matchResults.count(false)}} out of {{totalItems}}
  <table style="background-color:tomato;">
    <div *ngFor="let cat of matchResults.mList;  index as j">
      <tr *ngIf="matchResults.mList[j].rejectList.length>0">
        <td>{{matchResults.mList[j].categoryName}}:{{matchResults.mList[j].rejectList.length}}</td>
        <td *ngFor="let reject of matchResults.mList[j].rejectList; index as i">
          <img src="{{reject.image}}" style="width:160px;height:auto;">
        </td>
      </tr>
      <tr *ngIf="matchResults.mList[j].rejectList.length>0">
        <td>Details:</td>
        <td *ngFor="let reject of matchResults.mList[j].rejectList">
          <ul>
          {{reject.id}}
        </ul>
        </td>
      </tr>
      <tr *ngIf="matchResults.mList[j].rejectList.length>0">
        <td>Why not:</td>
        <td *ngFor="let reject of matchResults.mList[j].rejectList">
          <p>{{reject.story}}</p>
        </td>
      </tr>
    </div>
  </table>
</ng-template>
