<mat-toolbar color="primary" *ngIf="userStatus; else elseBlock">
  <mat-toolbar-row>
    <div class="nav-brand">
      Back Office
    </div>
    <a mat-flat-button color="primary" [routerLink]="['/home-base']">
      Home
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/item-table']">
      Tag Items
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/app-public-ask']">
      TESTING ASK API
    </a>
    <a mat-flat-button color="primary" [routerLink]="['/image-processing']">
      Image Processing
    </a>
    <span class="example-spacer"></span>
    <span class="ml-3"></span>
    <a *ngIf="userStatus" mat-raised-button (click)="logout()">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>


<ng-template #elseBlock>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="nav-brand">
        Back Office
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>




<div class="container">
  <router-outlet></router-outlet>
</div>
