<div class="clothes-container">
  <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
    <div fxFlex="48" fxFlex.lt-md="100">
      <div fxLayout="column wrap" fxLayoutAlign="stretch" fxLayoutGap="5px" class="m5">
        <div fxFlex>
          <app-tag-item-category
            [inCategory]="iCI.work"
            [inOptions]="iCI.options"
            (update)="onUpdateCategory($event)">
          </app-tag-item-category>
        </div>
        <div fxFlex>
          <button mat-fab color="primary" (click)="onClickNext()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          <button mat-fab color="primary" class="prevButton" (click)="onClickPrev()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
        <div fxFlex class="tacenter">
          <h2>In case the category is Wrong!!</h2>
          <button mat-raised-button color="primary" (click)="onClickReplaceCategory()">Repace category</button>
          <button mat-raised-button color="primary" class="ml5" (click)="onClickDeleteItem()">Remove item from Data base</button>
        </div>
      </div>
    </div>
    <div fxFlex="48" fxFlex.lt-md="100">
      <div class="maw80">
        <div>
          <b>Retailer: {{mCurItem.mRetailerName}}</b> , Item id: {{mCurItem.mId}}
          <br>
          <b>Item category: {{mCurItem.categoryName()}}</b> , Item title: {{mCurItem.mTitle}}
          <br>
        </div>
        <mat-card>
         
            <img mat-card-image  src="{{mCurItem.mImages[mImageIndex]}}" class="h500">
            <a *ngIf="bMultipleImages" mat-flat-button color="primary" (click)="nextImage()">
              <mat-icon>list</mat-icon>More views
            </a>
        
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="bShowCategory">
  <app-category-select 
    [inCatName]="mCurItem.mCategory.name" 
    [options]="mCategoryList" 
    [withAll]="false"
    (update)="onCategoryNameChange($event)">
  </app-category-select>
  <button mat-raised-button color="primary" (click)="onOpps()">Ooops...</button>
</div>

