/* Structure */

.m5{
  margin: 5px;
}

.ml5{
  margin-left: 5px;
}

.h500{
  height: 500px;
  width: auto;
}

.maw80{
  margin: auto;
  width: 80%;
}

.tacenter{
  text-align: center;
}

mat-grid-tile {
  // background: lightblue;
  padding: 5px;

}

.clothes-container {
  position: 0,0;
  padding: 5px;
}

.mat-grid-list {
  position: 0,0;
  padding: 1px;
  padding-bottom: 5px
}

.mat-flat-button {
  margin: 5px;
}
app-tag-category {
  width:100%;
  // height:75%;
}

.prevButton {
  // position: relative;
  // left: 250px;
  float: right;
}