<div class="login-page">
  <div class="content mt-60">
    <form class="login-form" (ngSubmit)="createUser()" [formGroup]="userForm">
      <div class="text-center">
        <h2 class="app-name">Create user</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <span class="mb-3"></span>
          <mat-form-field class="w-100">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">

        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" class="w-100" [disabled]="!userForm.valid">Create
            user</button>
          <a type="button" mat-button color="primary" class="w-100" (click)="backToHome()">Back to home</a>
        </div>

      </div>

    </form>
  </div>
</div>
