  <h1>Category: {{inCategory?.name}}</h1>
  <mat-grid-list cols="2" rowHeight="60px" >
    <mat-grid-tile *ngFor="let feature of inCategory?.vals;  index as j">
      <app-tag-featue 
        [inFeature]="feature"
        [inOptions]="inOptions?.vals[j]"
        [belogsToItem]="inCategory?.isItem()"
        (update)="onUpdateFeature($event)">
      </app-tag-featue>
    </mat-grid-tile>
  </mat-grid-list>

<div *ngIf="mShowOK">
  <button (click)="onClickOK()">OK-SAVE {{inCategory?.name}}</button>
</div>
